#
# Excluded objects (standard)
#

.*
*~
*.py[co]
*.ipr
*.iml
*.iws
Vagrantfile
tests/coverage/modules/*
Makefile.def
cghub/settings/local.py
pids/*
logs/*
celerybeat-schedule
node_modules
env/

#
# Added to this project
#

docs
tags
utils/*
db.sqlite3
wsapi/build
wsapi/dist
wsapi/MANIFEST
wsapi/wsapi/tags
wsapi/utils/profile/imgs
cghub/media/api_results_cache
progress.*

cghub/apps/core/filters_storage.json

#
# Included objects
#
!.gitignore
!wsapi/docs
wsapi/docs/build
!cghub/docs
cghub/docs/build
