#
# Excluded objects (standard)
#

.*
*~
*.py[co]
*.ipr
*.iml
*.iws
Vagrantfile
tests/coverage/modules/*
Makefile.def
cghub/settings/local.py

#
# Added to this project
#

docs
utils/*
db.sqlite3
cghub_api/build
cghub_api/dist
cghub_api/MANIFEST
cghub_api/cghub_api/tags
cghub/media/api_results_cache

#
# Included objects
#
!.gitignore
!cghub_api/docs
cghub_api/docs/build
