@import "libs/bootstrap/less/mixins.less";

.navbar {
    .brand {
        padding-top: 10px;
        padding-bottom: 8px;
    }
    ul {
        a {
            font-size: 14px;
        }
    }
}

.base-container {
    padding-top: 50px;
    width: 100%;
    min-width: 1280px;
}

.base-sidebar {
    padding-left: 10px;
}

.base-content {
    width: 78%;
    min-width: 980px;
}

.pagination-results {
	margin-top: 12px;
}

.sort-link {
	display: block;
}
.search-query {
	color: #333 !important;
}

.flexigrid {
	width: 100%;
    // fix selected row highlighting
    div.bDiv tr.trSelected td {
        background-color: #d5effc;
    }
    // clickable rows
    .bDiv tr {
        cursor: pointer;
        td:first-child {
            cursor: default;
        }
    }
}

.tooltip {
    position: fixed;
    z-index: 1000;
    display: none;
    max-width: 250px;
    background: rgba(0, 0, 0, .8);
    visibility: visible;
    padding: 5px;
    font-size: 12px;
    opacity: 1;
    color: #fff;
    padding: 5px 6px 4px 10px;
    .border-radius(3px);
    &:before {
        display: inline-block;
        content: '?';
        position: relative;
        left: -6px;
        color: #ffc40d;
    }
}
