@import "libs/bootstrap/less/mixins.less";

/* z indexes */
@zi_ddcl: 1010; // specified in flexigrid.js and core/search.js
@zi_tooltip: @zi_ddcl + 100;
@zi_dp_container: @zi_tooltip + 200;
@zi_accessibility: @zi_dp_container + 100;

#accessibility-links {
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    height: 0;
    overflow: hidden;
    width: 100%;
    text-align: center;
    z-index: @zi_accessibility;
    background-color: #fff;
    list-style-type: none;
    .box-shadow(0 8px 6px -6px #888);
    li {
        font-size: 1.2em;
        padding-top: 5px;
        margin-bottom: 2px;
    }
}
.hidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

#main-nav {
    tab-index: -1;
}

.navbar {
    .brand {
        padding-top: 10px;
        padding-bottom: 8px;
    }
    ul {
        a {
            font-size: 14px;
        }
        &.batch-search-link a {
            color: #ddd;
            font-size: 12px;
            position: relative;
            top: 2px;
        }
    }
}

.base-container {
    padding-top: 50px;
    width: 100%;
    min-width: 1280px;
}

.base-sidebar {
    padding-left: 10px;
    /* datepickers container */
    .dp-container {
        z-index: @zi_dp_container;
        position: absolute;
        top: 0;
        left: 235px;
        padding: 9px 9px 19px 19px;
        .dp-date {
            display: inline-block;
            margin: 10px 10px 10px 0;
            vertical-align: top;
        }
        .text-error {
            color: #ff0000;
            margin-left: 10px;
        }
        .btn-cancel {
            margin-left: 10px;
        }
    }
    .sidebar {
        padding-left: 15px;
        visibility: hidden;
    }
}

.base-content {
    width: 78%;
    min-width: 980px;
}

.pagination-results {
	margin-top: 12px;
}

.sort-link {
	display: block;
}
.search-query {
	color: #333 !important;
}

.data-table {
    visibility: hidden;
}
.flexigrid {
    width: 100%;
    // fix selected row highlighting
    div.hDivBox {
        span.up-triangle {
            display: inline-block;
            height: 16px;
            width: 16px;
            background-image: url('../img/triangle-up.png');
            vertical-align:middle;
        }
        span.down-triangle {
            display: inline-block;
            height: 16px;
            width: 16px;
            background-image: url('../img/triangle-down.png');
            vertical-align:middle;
        }
    }
    div.bDiv {
        overflow-x: scroll !important;    // don't show scrolls in flexigrid
        overflow-y: hidden !important;
        tr.trSelected td {
            background-color: #d5effc;
        }
        tr td.tdSelected {
            background-color: #ddddbb;
        }
        // clickable rows
        tr {
            cursor: pointer;
            td:first-child {
                cursor: default;
            }
        }
    }
}

.tooltip {
    position: fixed;
    display: none;
    max-width: 250px;
    background: #F8F8C1;
    visibility: visible;
    padding: 5px;
    font-size: 12px;
    opacity: 1;
    color: #000;
    padding: 5px 6px 4px 10px;
    .border-radius(3px);
    border: 1px solid #996;
    z-index: @zi_tooltip;
}

/* dropdown menus */
.dropdown-menu li > a:hover {
    color: #222;
    background-color: #eee;
}

.modal {
    .raw-xml-link {
        font-size: 14px;
        padding: 20px 0;
    }
    table {
        margin-top: 15px;
    }
}

.navbar-fixed-top {
    .navbar-inner {
        .container-fluid {
            min-width: 770px;
        }
    }
}

div.btn-toolbar .btn {
    margin: 0 6px 0 0;
}
