@import "libs/bootstrap/less/mixins.less";

/* z indexes */
@zi_scrollbar: 1000; // specified in tinyscrollbar.css
@zi_ddcl: 1010; // specified in flexigrid.js and core/search.js
@zi_tooltip: @zi_ddcl + 100;
@zi_dp_container: @zi_tooltip + 200;

.navbar {
    .brand {
        padding-top: 10px;
        padding-bottom: 8px;
    }
    ul {
        a {
            font-size: 14px;
        }
    }
}

.base-container {
    padding-top: 50px;
    width: 100%;
    min-width: 1280px;
}

.base-sidebar {
    padding-left: 10px;
    /* datepickers container */
    .dp-container {
        z-index: @zi_dp_container;
        position: absolute;
        top: 0;
        left: 235px;
        padding: 9px 9px 19px 19px;
        .dp-date {
            display: inline-block;
            margin: 10px 10px 10px 0;
            vertical-align: top;
        }
        .text-error {
            color: #ff0000;
            margin-left: 10px;
        }
        .btn-cancel {
            margin-left: 10px;
        }
    }
    .sidebar {
        padding-left: 15px;        
    }
    #id_reset_filters {
        margin-left: 12px;
    }
}

.base-content {
    width: 78%;
    min-width: 980px;
}

.pagination-results {
	margin-top: 12px;
}

.sort-link {
	display: block;
}
.search-query {
	color: #333 !important;
}

.flexigrid {
    width: 100%;
    // fix selected row highlighting
    div.bDiv {
        overflow-x: hidden !important;    // don't show scrolls in flexigrid
        overflow-y: hidden !important;
        tr.trSelected td {
            background-color: #d5effc;
        }
        // clickable rows
        tr {
            cursor: pointer;
            td:first-child {
                cursor: default;
            }
        }
    }
}

.tooltip {
    position: fixed;
    display: none;
    max-width: 250px;
    background: #F8F8C1;
    visibility: visible;
    padding: 5px;
    font-size: 12px;
    opacity: 1;
    color: #000;
    padding: 5px 6px 4px 10px;
    .border-radius(3px);
    border: 1px solid #996;
    z-index: @zi_tooltip;
}

/* dropdown menus */
.dropdown-menu li > a:hover {
    color: #222;
    background-color: #eee;
}

.modal {
    .raw-xml-link {
        font-size: 14px;
        padding: 20px 0;
    }
    table {
        margin-top: 15px;
    }
}

.navbar-fixed-top {
    .navbar-inner {
        .container-fluid {
            min-width: 770px;
        }
    }
}
