{% extends 'base.html' %}
{% load static from staticfiles %}
{% block description %}{{ block.super }}{% endblock %}
{% block title %}This page is not found - {{ block.super }}{% endblock %}
{% block extra_header_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/core/error.css' %}?v=4" media="all">
{% endblock %}
{% block messages %}{% endblock %}
{% block main_content %}
<div class="span6 offset1" style="margin-top: 20px;">
    <h1>Error</h1>
    <p>This page was not found.</p>
</div>
{% endblock %}
