{% extends 'base.html' %}
{% load static from staticfiles %}
{% block description %}{{ block.super }}{% endblock %}
{% block title %}Method not allowed - {{ block.super }}{% endblock %}
{% block extra_header_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/core/error.css' %}?v=6" media="all">
{% endblock %}
{% block messages %}{% endblock %}
{% block main_content %}
<div class="span6 offset1" style="margin-top: 20px;">
    <h1>Error</h1>
    <p>Method not allowed.</p>
</div>
{% endblock %}
