{% extends 'base.html' %}
{% load static from staticfiles %}
{% block description %}{{ block.super }}{% endblock %}
{% block title %}Server error - {{ block.super }}{% endblock %}
{% block extra_header_css %}
    {% if debug %}
        <link rel="stylesheet" type="text/less" href="{% static 'css/core/error.less' %}" media="all">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/core/error.css' %}?v=7" media="all">
    {% endif %}
{% endblock %}
{% block messages %}{% endblock %}
{% block main_content %}
<div class="span10 offset1">
    <h1>Error</h1>
    <p>Internal server error. Please contact <a href="mailto:{{ SUPPORT_EMAIL }}">{{ SUPPORT_EMAIL }}</a>.</p>

    <button class="btn js-session-reset">Reset session</button>

    {% if error %}
        <br><br>Details: <pre>{{ error }}</pre>
    {% endif %}
</div>
{% endblock %}
{% block extra_body_js %}
<script>
    jQuery(function ($) {
        $('.js-session-reset').on('click', this.cghub.base.resetSession);
    });
</script>
{% endblock %}
