{% extends 'base.html' %}
{% load static from staticfiles %}
{% block description %}{{ block.super }}{% endblock %}
{% block title %}Server error - {{ block.super }}{% endblock %}
{% block extra_header_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/core/error.css' %}?v=6" media="all">
{% endblock %}
{% block messages %}{% endblock %}
{% block main_content %}
<div class="span10 offset1" style="margin-top: 20px;">
    <h1>Error</h1>
    <p>Internal server error. Please contact <a href="mailto:{{ SUPPORT_EMAIL }}">{{ SUPPORT_EMAIL }}</a>.</p>
    {% if error %}
        Details: <pre>{{ error }}</pre></p>
    {% endif %}
</div>
{% endblock %}
