{% load search_tags %}
<div class="well sidebar" id="filters-bar">
    <div class="js-common-tooltip filters-header" data-key="filters-bar">Filters</div>
    {% include 'apply_filters_buttons.html' with base_tabindex=31 %}
    {% render_filters %}
    <div class="js-remember-filters">
        <input type="checkbox" name="remember" value="remember" tabindex="48" alt="Remember filter settings"> Remember filter settings<br>
    </div>
    {% include 'apply_filters_buttons.html' with base_tabindex=49 %}
</div>
