{% load search_tags %}
<div class="well sidebar">
    <h4>Filters</h4>
    {% render_filters %}
    <div class="search-btn-group">
        <button class="btn" id="id_reset_filters" type="reset">Reset</button>
        <button class="btn" id="id_apply_filters" type="submit">Apply filters</button>
    </div>
    <strong>
      Important: Due to current performance limitations on large queries,
      the <em>Time Modified</em> filter defaults to <em>This month</em>.  It can only
      be set to <em>Any date</em> if a <em>Center</em>, <em>Experiment</em>,
      <em>Sample Type</em>, <em>Run Type</em>, <em>Disease</em>, or
      a search term is entered.  This will be addressed in a future release.
    </strong>
</div>
