{% load search_tags %}
<div class="well sidebar">
    <ul class="nav nav-list">
        <li class="nav-header">Search</li>
        <li>
        <form class="form-search" action="{% url search_page %}">
            <input class="search-query" type="text" id="bam-filter-sidebar-search-field" placeholder="Search" name="q">
        </form>
        </li>
        <li class="nav-header">Filter</li>
        <div class="filter-accordion">
            <div class="filter-accordion-header nav-header">
                <span class="filter-accordion-icon ui-icon ui-icon-triangle-1-e"></span>By Center
            </div>
            <div class="filter-accordion-content">
                <ul class="nav filter-category" data-filter="center_name">
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="BCM" checked="checked">
                        Baylor
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="BCCAGSC" checked="checked">
                        BCCAGSC
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="BI" checked="checked">
                        Broad Institute
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="HMS-RK" checked="checked">
                        Harvard
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="UNC-LCCC" checked="checked">
                        UNC-LCCC
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="USC-JHU" checked="checked">
                        USC/Sidney K. B.
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="WUGSC" checked="checked">
                        Washington U.
                    </label>
                    </li>
                    <li><a href="javascript:void(0)" class="select-all">Select all</a></li>
                    <li><a href="javascript:void(0)" class="deselect-all">Deselect all</a></li>
                </ul>
            </div>
        </div>
        <div class="filter-accordion">
            <div class="filter-accordion-header nav-header">
                <span class="filter-accordion-icon ui-icon ui-icon-triangle-1-e"></span>By Date Uploaded
            </div>
            <div class="filter-accordion-content">
                <ul class="nav filter-date" data="last_modified">
                    <li>
                    <label class="radio">
                        <input type="radio" name="select-date" id="id_date_any" data='' checked="checked">
                         Any date
                        </input>
                    </label>
                    </li>
                    <li>
                    <label class="radio">
                        <input type="radio" name="select-date" id="id_date_today" data='[NOW-1DAY TO NOW]'>
                        Today
                        </input>
                    </label>
                    </li>
                    <li>
                    <label class="radio">
                        <input type="radio" name="select-date" id="id_date_week" data='[NOW-7DAY TO NOW]'>
                        This week
                        </input>
                    </label>
                    </li>
                    <li>
                    <label class="radio">
                        <input type="radio" name="select-date" id="id_date_month" data='[NOW-1MONTH TO NOW]'>
                        This month
                        </input>
                    </label>
                    </li>
                    <li>
                    <label class="radio">
                        <input type="radio" name="select-date" id="id_date_year" data='[NOW-1YEAR TO NOW]'>
                        This year
                        </input>
                    </label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="filter-accordion">
            <div class="filter-accordion-header nav-header">
                <span class="filter-accordion-icon ui-icon ui-icon-triangle-1-e"></span>By Experiment Type
            </div>
            <div class="filter-accordion-content">
                <ul class="nav filter-category" data-filter="analyte_code">
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="D" checked="checked">
                        DNA
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="G" checked="checked">
                        GenomePlex
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="H" checked="checked">
                        mirVana RNA
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="R" checked="checked">
                        RNA
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="T" checked="checked">
                        Total RNA
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="W" checked="checked">
                        WGA
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="X" checked="checked">
                        WGA X
                    </label>
                    </li>
                    <li><a href="javascript:void(0)" class="select-all">Select all</a></li>
                    <li><a href="javascript:void(0)" class="deselect-all">Deselect all</a></li>
                </ul>
            </div>
        </div>
        <div class="filter-accordion">
            <div class="filter-accordion-header nav-header">
                <span class="filter-accordion-icon ui-icon ui-icon-triangle-1-e"></span>By Sample Type
            </div>
            <div class="filter-accordion-content">
                <ul class="nav filter-category" data-filter="sample_type">
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="01" checked="checked">
                        Primary solid Tumor
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="02" checked="checked">
                        Recurrent Solid Tumor
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="03" checked="checked">
                        Primary Blood Derived Cancer - Peripheral Blood
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="04" checked="checked">
                        Recurrent Blood Derived Cancer - Bone Marrow
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="05" checked="checked">
                        Additional - New Primary
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="06" checked="checked">
                        Metastatic
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="07" checked="checked">
                        Additional Metastatic
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="08" checked="checked">
                        Human Tumor Original Cells
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="09" checked="checked">
                        Primary Blood Derived Cancer - Bone Marrow
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="10" checked="checked">
                        Blood Derived Normal
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="11" checked="checked">
                        Solid Tissue Normal
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="12" checked="checked">
                        Buccal Cell Normal
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="13" checked="checked">
                        EBV Immortalized Normal
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="14" checked="checked">
                        Bone Marrow Normal
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="20" checked="checked">
                        Control Analyte
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="40" checked="checked">
                        Recurrent Blood Derived Cancer - Peripheral Blood
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="50" checked="checked">
                        Cell Lines
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="60" checked="checked">
                        Primary Xenograft Tissue
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="61" checked="checked">
                        Cell Line Derived Xenograft Tissue
                    </label>
                    </li>
                    <li><a href="javascript:void(0)" class="select-all">Select all</a></li>
                    <li><a href="javascript:void(0)" class="deselect-all">Deselect all</a></li>
                </ul>
            </div>
        </div>
        <div class="filter-accordion">
            <div class="filter-accordion-header nav-header">
                <span class="filter-accordion-icon ui-icon ui-icon-triangle-1-e"></span>By Run Type
            </div>
            <div class="filter-accordion-content">
                <ul class="nav filter-category" data-filter="library_strategy">
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="WGS" checked="checked">
                        WGS
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="WXS" checked="checked">
                        WXS
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="RNA-Seq" checked="checked">
                        RNA-Seq
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="WCS" checked="checked">
                        WCS
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="CLONE" checked="checked">
                        CLONE
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="POOLCLONE" checked="checked">
                        POOLCLONE
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="AMPLICON" checked="checked">
                        AMPLICON
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="CLONEEND" checked="checked">
                        CLONEEND
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="FINISHING" checked="checked">
                        FINISHING
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="ChIP-Seq" checked="checked">
                        ChIP-Seq
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="MNase-Seq" checked="checked">
                        MNase-Seq
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="DNase-Hypersensitivity" checked="checked">
                        DNase-Hypersensitivity
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="Bisulfite-Seq" checked="checked">
                        Bisulfite-Seq
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="EST" checked="checked">
                        EST
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="FL-cDNA" checked="checked">
                        FL-cDNA
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="CTS" checked="checked">
                        CTS
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="MRE-Seq" checked="checked">
                        MRE-Seq
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="MeDIP-Seq" checked="checked">
                        MeDIP-Seq
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="MDB-Seq" checked="checked">
                        MDB-Seq
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="OTHER" checked="checked">
                        OTHER
                    </label>
                    </li>
                    <li><a href="javascript:void(0)" class="select-all">Select all</a></li>
                    <li><a href="javascript:void(0)" class="deselect-all">Deselect all</a></li>
                </ul>
            </div>
        </div>
        <div class="filter-accordion">
            <div class="filter-accordion-header nav-header">
                <span class="filter-accordion-icon ui-icon ui-icon-triangle-1-e"></span>By Disease
            </div>
            <div class="filter-accordion-content">
                <ul class="nav filter-category" data-filter="disease_abbr">
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="LAML" checked="checked">
                        Acute Myeloid Leukemia
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="BLCA" checked="checked">
                        Bladder Urothelial Carcinoma
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="LGG" checked="checked">
                        Brain Lower Grade Glioma
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="BRCA" checked="checked">
                        Breast invasive carcinoma
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="CESC" checked="checked">
                        Cervical squamous cell carcinoma and endocervical adenocarcinoma
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="LCLL" checked="checked">
                        Chronic Lymphocytic Leukemia
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="COAD" checked="checked">
                        Colon adenocarcinoma
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="CNTL" checked="checked">
                        Controls
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="ESCA" checked="checked">
                        Esophageal carcinoma 
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="GBM" checked="checked">
                        Glioblastoma multiforme
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="HNSC" checked="checked">
                        Head and Neck squamous cell carcinoma
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="KICH" checked="checked">
                        Kidney Chromophobe
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="KIRC" checked="checked">
                        Kidney renal clear cell carcinoma
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="KIRP" checked="checked">
                        Kidney renal papillary cell carcinoma
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="LIHC" checked="checked">
                        Liver hepatocellular carcinoma
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="LUAD" checked="checked">
                        Lung adenocarcinoma
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="LUSC" checked="checked">
                        Lung squamous cell carcinoma
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="DLBC" checked="checked">
                        Lymphoid Neoplasm Diffuse Large B-cell Lymphoma
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="OV" checked="checked">
                        Ovarian serous cystadenocarcinoma
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="PAAD" checked="checked">
                        Pancreatic adenocarcinoma
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="PRAD" checked="checked">
                        Prostate adenocarcinoma
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="READ" checked="checked">
                        Rectum adenocarcinoma
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="SARC" checked="checked">
                        Sarcoma
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="SKCM" checked="checked">
                        Skin Cutaneous Melanoma
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="STAD" checked="checked">
                        Stomach adenocarcinoma
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="THCA" checked="checked">
                        Thyroid carcinoma
                    </label>
                    </li>
                    <li>
                    <label class="checkbox">
                        <input type="checkbox" data="UCEC" checked="checked">
                        Uterine Corpus Endometrioid Carcinoma
                    </label>
                    </li>
                    <li><a href="javascript:void(0)" class="select-all">Select all</a></li>
                    <li><a href="javascript:void(0)" class="deselect-all">Deselect all</a></li>
                </ul>
            </div>
        </div>

        <div class="btn-group search-btn-group">
            <button class="btn" id="id_apply_filters" type="submit">Apply filters</button>
        </div>

    </ul>
</div>
