<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if IE]>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/libs/jqueryui/custom-theme/jquery.ui.1.8.16.ie.css"/>
    <![endif]-->
    {% if debug %}
        <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/libs/bootstrap/less/bootstrap.less"
              media="all">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/libs/bootstrap/bootstrap.css"
              media="all">
    {% endif %}
    <link rel="stylesheet" type="text/css"
          href="{{ STATIC_URL }}css/libs/jqueryui/custom-theme/jquery-ui-1.8.16.custom.css" media="all">
    {% block extra_header_css %} {% endblock %}
    {% if debug %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/libs/less-1.3.0.min.js"></script>
    {% endif %}
    {% block extra_header_js %} {% endblock %}
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="/">UC SANTA CRUZ</a>
            <ul class="nav">
                <li><a href="{% url home_page %}">Home</a></li>
                <li><a href="{% url search_page %}">Search</a></li>
                <li><a href="{% url cart_page %}">Cart ({{ request.session.cart|length }})</a></li>
                <li><a href="{% url help_page %}">Help</a></li>
            </ul>
            <ul class="nav pull-right">
                <li>
                    <p class="navbar-text pull-right">CGHub Browser *Beta*</p>
                </li>
            </ul>
            <form class="navbar-search pull-right" action="{% url search_page %}">
                <input type="text" class="search-query span2" placeholder="Search" name="q">
            </form>
        </div>
    </div>
</div>
<div class="container-fluid base-container">
    <div class="row row-fluid">
        {% block main_content %}
            <div class="span3 base-sidebar">
                {% block extra_sidebar %} {% endblock %}
            </div>
            <div class="span9 base-content">
                {% block extra_content %} {% endblock %}
            </div>
        {% endblock %}
    </div>
    <hr>
    <footer></footer>
</div>
{% block extra_body_css %} {% endblock %}
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery-ui-1.8.20.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/colResizable-1.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-alert.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-button.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-carousel.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-dropdown.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-modal.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-popover.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-scrollspy.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-tab.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-tooltip.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-transition.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-typeahead.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/base.js"></script>
{% block extra_body_js %} {% endblock %}
</body>
</html>
