{% load static from staticfiles %}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta charset="UTF-8">
    <title>{% block title %}CGHub Data Browser{% endblock %}</title>
    <script type="text/javascript" src="{% static 'js/indexof-ie-fix.js' %}"></script>
    <!--[if lt IE 9]>
        <script src="{% static 'js/libs/html5.js' %}"></script>
    <![endif]-->
    <!--[if IE]>
        <link rel="stylesheet" type="text/css" href="{% static 'css/libs/jqueryui/custom-theme/jquery.ui.1.8.16.ie.css' %}"/>
    <![endif]-->
    {% if debug %}
        <link rel="stylesheet/less" type="text/css" href="{% static 'css/libs/bootstrap/less/bootstrap.less' %}"
              media="all">
        <link rel="stylesheet" type="text/css" href="{% static 'css/libs/flexigrid/flexigrid.css' %}" media="all">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/libs/bootstrap/bootstrap.css' %}"
              media="all">
        <link rel="stylesheet" type="text/css" href="{% static 'css/libs/flexigrid/flexigrid.min.css' %}?v=4" media="all">
    {% endif %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/libs/jqueryui/custom-theme/jquery-ui-1.8.16.custom.css' %}" media="all">
    <link rel="stylesheet" type="text/css"
        href="{% static 'css/libs/dropdownchecklist/ui.dropdownchecklist.standalone.css' %}" media="all">
    <link rel="stylesheet" type="text/css"
        href="{% static 'css/libs/dropdownchecklist/ui.dropdownchecklist.themeroller.css' %}" media="all">
    {% block extra_header_css %} {% endblock %}
    {% if debug %}
        <script type="text/javascript" src="{% static 'js/libs/less-1.3.0.min.js' %}"></script>
    {% endif %}
    {% block extra_header_js %} {% endblock %}
</head>
<body>
{% block accessibility_links %}
<ul title="Accessibility links" id="accessibility-links">
    <li>
        <a href="#nav-bar" tabindex="1">
            Skip to Navigation bar
        </a>
    </li>
    <li>
        <a href="#main-content" tabindex="2">
            Skip to Main content
        </a>
    </li>
</ul>
{% endblock %}
<header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid" id="nav-bar">
            <a class="brand" href="https://cghub.ucsc.edu/" tabindex="25"><span class="js-common-tooltip" data-key="cghub-home-page-link">Cancer Genomics Hub</span></a>
            <ul class="nav">
                <li><a href="{% url home_page %}" tabindex="26"><span class="js-common-tooltip" data-key="browser-link">Browser</span></a></li>
                <li><a href="{% url cart_page %}" tabindex="27"><span class="js-common-tooltip" data-key="cart-link">Cart ({{ request.session.cart_count|default:0 }})</span></a></li>
                <li><a href="{% url batch_search_page %}" tabindex="28"><span class="js-common-tooltip" data-key="batch-search-link">Batch search</span></a></li>
                <li><a href="{% url help_page %}?from={{ request.path }}" tabindex="29"><span class="js-common-tooltip" data-key="help-link">Help</span></a></li>
                <li><a href="{% url accessibility_page %}" tabindex="30"><span class="js-common-tooltip" data-key="accessibility-link">Accessibility</span></a></li>
            </ul>
            <ul class="nav pull-right">
                <li>
                    <h2 class="navbar-text pull-right">Data Browser</h2>
                </li>
            </ul>
            <form class="navbar-search pull-right" action="{% url search_page %}">
                <label for="id-search-field" class="hidden">Search</label>
                <input id="id-search-field" type="text" class="search-query span2 js-common-tooltip" data-key="search-box" placeholder="Search" name="q" tabindex="31">
            </form>
        </div>
    </div>
</header>
<div class="base-container row">
        {% block main_content %}
            <aside class="span3 base-sidebar">
                {% block extra_sidebar %} {% endblock %}
            </aside>
            <div class="span9 base-content">
                {% block extra_content %} {% endblock %}
            </div>
        {% endblock %}
</div>
{% comment %}
    Common message popup template
{% endcomment %}
<div class="modal hide fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="common-message-label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="hidden">close popup</span>×</button>
        <h3 class="modal-label" id="common-message-label">Message</h3>
    </div>
    <div class="modal-body" tabindex="0"></div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

{% block extra_body_css %} {% endblock %}
<script type="text/javascript" src="{% static 'js/libs/jquery-1.7.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libs/jquery-ui-1.8.20.custom.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libs/jquery.cookie.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libs/URI.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libs/ui.dropdownchecklist-1.4-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libs/jquery.placeholder.min.js' %}"></script>
<script>
    jQuery(function ($) {
        var cghub = {};
        if (this.cghub !== undefined) {
            cghub = this.cghub;
        } else {
            this.cghub = cghub;
        }
        cghub.vars = {
            helpHintUrl: "{% url help_hint %}",
            helpTextUrl: "{% url help_text %}",
            supportEmail: "{{ SUPPORT_EMAIL }}",
            tooltipHoverTime: {{ TOOLTIP_HOVER_TIME }}
        }
    });
</script>
{% if debug %}
    <script type="text/javascript" src="{% static 'js/libs/flexigrid.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/bootstrap-contextmenu.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/bootstrap/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/help.js' %}"></script>
{% else %}
    <script type="text/javascript" src="{% static 'js/libs/flexigrid.min.js' %}?v=3"></script>
    <script type="text/javascript" src="{% static 'js/libs/bootstrap/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/base.min.js' %}?v=2"></script>
{% endif %}
{% block extra_body_js %} {% endblock %}
{% if debug %}
    <script type="text/javascript" src="{% static 'js/accessibility.js' %}"></script>
{% else %}
    <script type="text/javascript" src="{% static 'js/accessibility.min.js' %}"></script>
{% endif %}
</body>
</html>
