<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/libs/bootstrap/less/bootstrap.less"
          media="all">
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/base.less" media="all">
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/less-1.3.0.min.js"></script>
</head>
<body>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-alert.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-button.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-carousel.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-dropdown.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-modal.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-popover.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-scrollspy.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-tab.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-tooltip.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-transition.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-typeahead.js"></script>
</body>
</html>
