{% load search_tags %}
{% if results %}
    <table class="table table-striped table-condensed data-table">
        <thead>
            <tr>
                <th class="data-table-checkbox-header" width='15'></th>
                <th width='220'>{% sort_link request 'analysis_id' 'UUID' %}</th>
                <th width='100'>{% sort_link request 'study' 'Study' %}</th>
                <th width='65'>{% sort_link request 'disease_abbr' 'Disease' %}</th>
                <th width='200'>{% sort_link request 'disease_abbr' 'Disease Name' %}</th>
                <th width='100'>{% sort_link request 'library_strategy' 'Run Type' %}</th>
                <th width='100'>{% sort_link request 'center_name' 'Center' %}</th>
                <th width='100'>{% sort_link request 'center_name' 'Center Name' %}</th>
                <th width='95'>{% sort_link request 'analyte_code' 'Experiment Type' %}</th>
                <th width='120'>{% sort_link request 'last_modified' 'Last modified' %}</th>
                <th width='75'>{% sort_link request 'sample_type' 'Sample Type' %}</th>
                <th width='150'>{% sort_link request 'sample_type' 'Sample Type Name' %}</th>
                <th width='70'>{% sort_link request 'state' 'State' %}</th>
                <th width='235'>{% sort_link request 'legacy_sample_id' 'Barcode' %}</th>
                <th width='75'>{% sort_link request 'sample_accession' 'Sample Accession' %}</th>
                <th width='75'>{% sort_link request 'files_size' 'Files Size' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for r in results %}
            <tr data-details-url="{% url item_details r.analysis_id %}" data-target="#itemDetailsModal" data-uuid="{{ r.analysis_id }}" data-context-menu="#table-context-menu">
                <td><input class="data-table-checkbox" type="checkbox" name="selected_files"
                                                            value="{{ r.analysis_id }}"
                                                            data-legacy_sample_id="{{ r.legacy_sample_id }}"
                                                            data-study="{{ r.study }}"
                                                            data-analysis_id="{{ r.analysis_id }}"
                                                            data-sample_accession="{{ r.sample_accession }}"
                                                            data-files_size="{{ r.files_size }}"
                                                            data-last_modified ="{{ r.last_modified }}"
                                                            data-disease_abbr="{{ r.disease_abbr }}"
                                                            data-sample_type="{{ r.sample_type }}"
                                                            data-analyte_code="{{ r.analyte_code }}"
                                                            data-library_strategy="{{ r.library_strategy }}"
                                                            data-center_name="{{ r.center_name }}"
                                                            data-state="{{ r.state }}"></td>
                <td>{{ r.analysis_id }}</td>
                <td>{% get_name_by_code 'study' r.study %}</td>
                <td>{{ r.disease_abbr }}</td>
                <td>{% get_name_by_code 'disease_abbr' r.disease_abbr %}</td>
                <td>{{ r.library_strategy }}</td>
                <td>{{ r.center_name }}</td>
                <td>{% get_name_by_code 'center_name' r.center_name %}</td>
                <td>{% get_name_by_code 'analyte_code' r.analyte_code %}</td>
                <td>{{ r.last_modified }}</td>
                <td>{% get_sample_type_by_code r.sample_type format='shortcut' %}</td>
                <td>{% get_sample_type_by_code r.sample_type format='full' %}</td>
                <td>{% get_name_by_code 'state' r.state %}</td>
                <td>{{ r.legacy_sample_id }}</td>
                <td>{{ r.sample_accession }}</td>
                <td>{% if r.files_size %}{{ r.files_size }}{% else %}{{ r.files.file.0.filesize }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% comment %}
        Item details popup template
    {% endcomment %}
    <div class="modal fade" id="itemDetailsModal" tabindex="-1" role="dialog" aria-labelledby="itemDetails" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="modal-label">Loading ...</h3>
        </div>
        <div class="modal-body">Loading ...</div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
    <ul id="table-context-menu" class="context-menu dropdown-menu">
        <li><a href="#" class="js-details-popup">Details</a></li>
        <li><a href="#" class="js-details-page">Show details in new window</a></li>
    </ul>
{% endif %}
