{% load search_tags %}
{% if results %}
    <div id="data-table"></div>
    <table class="table table-striped table-condensed data-table" summary="was found {{ results|length }} files for selected filters">
        <caption>returned results</caption>
        <thead>
            <tr>
                <th class="data-table-checkbox-header" data-width='15'>
                    <label for="id-check-all-checkbox" class="hidden">Check all</label>
                    <input id="id-check-all-checkbox" class="js-select-all" type="checkbox">
                </th>
                {% table_header request %}
            </tr>
        </thead>
        <tbody>
        {% for r in results %}
            <tr data-details-url="{% url item_details r.analysis_id %}" data-target="#itemDetailsModal" data-analysis_id="{{ r.analysis_id }}" data-context-menu="#table-context-menu">
                <td>
                    <label for="cb-{{ r.analysis_id }}" class="hidden">Select {{ r.analysis_id }}</label>
                    <input class="data-table-checkbox" type="checkbox" name="selected_files"
                                                            id="cb-{{ r.analysis_id }}"
                                                            value="{{ r.analysis_id }}"
                                                            data-legacy_sample_id="{{ r.legacy_sample_id }}"
                                                            data-study="{{ r.study }}"
                                                            data-analysis_id="{{ r.analysis_id }}"
                                                            data-sample_accession="{{ r.sample_accession }}"
                                                            data-files_size="{{ r.files_size }}"
                                                            data-upload_date="{{ r.upload_date }}"
                                                            data-last_modified ="{{ r.last_modified }}"
                                                            data-disease_abbr="{{ r.disease_abbr }}"
                                                            data-sample_type="{{ r.sample_type }}"
                                                            data-analyte_code="{{ r.analyte_code }}"
                                                            data-library_strategy="{{ r.library_strategy }}"
                                                            data-center_name="{{ r.center_name }}"
                                                            data-state="{{ r.state }}"
                                                            data-refassem_short_name="{{ r.refassem_short_name }}"
                                                            data-platform="{{ r.platform }}">
                </td>
                {% table_row r %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% comment %}
        Item details popup template
    {% endcomment %}
    <div class="modal fade" id="itemDetailsModal" tabindex="-1" role="dialog" aria-labelledby="details-label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="modal-label" id="details-label">Loading ...</h3>
        </div>
        <div class="modal-body">Loading ...</div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
    <ul id="table-context-menu" class="context-menu dropdown-menu">
        <li><a href="#" class="js-details-popup">Details</a></li>
        <li><a href="#" class="js-details-page">Show details in new window</a></li>
    </ul>
    {% comment %}
        Show this modal before adding great amount of files to cart
    {% endcomment %}
    <div class="modal hide fade" id="manyItemsModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Confirmation of adding files to cart</h3>
        </div>
        <div class="modal-body">
            <p>You have requested adding <b></b> data sets to your cart, this will take a few minutes to process. Continue?</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn js-no" data-dismiss="modal" aria-hidden="true">No</a>
            <a href="#" class="btn js-yes">Yes</a>
        </div>
    </div>
{% endif %}
