{% load search_tags %}
{% if results %}
    <table class="table table-striped table-condensed data-table" summary="was found {{ results|length }} files for selected filters" id="data-table">
        <caption class="hidden">returned results</caption>
        <thead>
            <tr>
                <th class="data-table-checkbox-header" data-width='15'>
                    <label for="id-check-all-checkbox" class="hidden">Check all</label>
                    <input id="id-check-all-checkbox" class="js-select-all" type="checkbox">
                </th>
                <th data-width="25"></th>
                {% table_header request %}
            </tr>
        </thead>
        <tbody>
        {% for r in results %}
            <tr data-analysis_id="{{ r.analysis_id }}" data-menu="{% data_menu r %}">
                <td>
                    <label for="cb-{{ r.analysis_id }}" class="hidden">Select {{ r.analysis_id }}</label>
                    <input class="data-table-checkbox" type="checkbox" name="selected_files"
                                                            id="cb-{{ r.analysis_id }}"
                                                            value="{{ r.analysis_id }}"
                                                            data-aliquot_id="{{ r.aliquot_id }}"
                                                            data-analysis_id="{{ r.analysis_id }}"
                                                            data-analyte_code="{{ r.analyte_code }}"
                                                            data-center_name="{{ r.center_name }}"
                                                            data-checksum="{{ r.checksum }}"
                                                            data-disease_abbr="{{ r.disease_abbr }}"
                                                            data-filename="{{ r.filename }}"
                                                            data-files_size="{{ r.files_size }}"
                                                            data-last_modified ="{{ r.last_modified }}"
                                                            data-legacy_sample_id="{{ r.legacy_sample_id }}"
                                                            data-library_strategy="{{ r.library_strategy }}"
                                                            data-participant_id="{{ r.participant_id }}"
                                                            data-platform="{{ r.platform }}"
                                                            data-published_date="{{ r.published_date }}"
                                                            data-refassem_short_name="{{ r.refassem_short_name }}"
                                                            data-sample_accession="{{ r.sample_accession }}"
                                                            data-sample_id="{{ r.sample_id }}"
                                                            data-sample_type="{{ r.sample_type }}"
                                                            data-state="{{ r.state }}"
                                                            data-study="{{ r.study }}"
                                                            data-tss_id="{{ r.tss_id }}"
                                                            data-upload_date="{{ r.upload_date }}">
                </td>
                <td class="details-link" title="Item details" data-details-url="{% url item_details r.analysis_id %}" data-target="#itemDetailsModal" data-context-menu="#table-context-menu" tabindex="0"></td>
                {% table_row r %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% comment %}
        Item details popup template
    {% endcomment %}
    <div class="modal hide fade" id="itemDetailsModal" tabindex="-1" role="dialog" aria-labelledby="details-label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="hidden">close popup</span>×</button>
            <h3 class="modal-label" id="details-label">Loading ...</h3>
        </div>
        <div class="modal-body">Loading ...</div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
    <ul id="table-context-menu" class="context-menu dropdown-menu">
        <a href="#" class="dropdown-close" tabindex="54"></a>
        <li><a href="#" class="js-details-popup" tabindex="55">Details</a></li>
        <a href="#" class="dropdown-close dropdown-bottom" tabindex="57"></a>
    </ul>
    {% comment %}
        Show this modal before adding great amount of files to cart
    {% endcomment %}
    <div class="modal hide fade" id="manyItemsModal" tabindex="-1" role="dialog" aria-labelledby="many-items-label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="hidden">close popup</span>×</button>
            <h3 id="many-items-label">Confirmation of adding files to cart</h3>
        </div>
        <div class="modal-body" tabindex="0">
            <p>You have requested adding <b></b> data sets to your cart, this may take a minute or more to complete. Continue?</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn js-no" data-dismiss="modal" aria-hidden="true">No</a>
            <a href="#" class="btn js-yes">Yes</a>
        </div>
    </div>
{% endif %}
