{% spaceless %}
{% for section, filters in all_filters.items %}
  <h5>{{ filters.title }}:</h5>
  {% if section == 'last_modified' or section == 'upload_date' %}
    <select class="filter-select date-filters" section="{{ section }}">
      {% for filter_value, filter_name_and_id in filters.filters.items %}
      <option value="{{ filter_value }}">{{ filter_name_and_id.filter_name }}</option>
      {% endfor %}
    </select>
  {% else %}
    <select class="filter-select" section="{{ section }}" multiple>
      <option value="(all)">(all)</option>
      {% for filter_value, filter_name in filters.filters.items %}
      <option value="{{ filter_value }}">{{ filter_name }}</option>
      {% endfor %}
    </select>
  {% endif %}
{% endfor %}
{% endspaceless %}
