<li class="nav-content">
{% for section, section_data in all_filters.items %}
  {% with filters=section_data.filters %}
  <div class="filter-accordion">

    <div class="filter-accordion-header nav-header">
      <span class="filter-accordion-icon ui-icon ui-icon-triangle-1-e"></span>{{ section_data.title }}
    </div>

    <div class="filter-accordion-content">
    {% if section == 'last_modified' %}
      <ul class="nav filter-date" data-filter="{{ section }}">
        {% for filter_value, filter_name in filters.items %}
        <li>
          <label class="radio">
          <input type="radio" name="select-date" id="{{ date_ids.filter_value }}" data-value="{{ filter_value }}" {% if filter_value == '' %}checked="checked"{% endif %}>{{ filter_name }}
          </label>
        </li>
        {% endfor %}
      </ul>
    {% else %}
      <ul class="nav filter-category" data-filter="{{ section }}">
        {% for filter_value, filter_name in filters.items %}
          <li>
            <label class="checkbox">
            <input type="checkbox" data-value="{{ filter_value }}" checked="checked">
              {{ filter_name }}
            </label>
          </li>
        {% endfor %}
          <li><a href="javascript:void(0)" class="select-all">Select all</a></li>
          <li><a href="javascript:void(0)" class="deselect-all">Deselect all</a></li>
      </ul>
    {% endif %}
    </div>

  </div>
  {% endwith %}
{% endfor %}
</li>