{% if paginator and paginator.is_paginated %}
    <div class="pagination">
        <div class="pull-left pagination-results">Found {{ num_results }} results</div>
        <div class="pagination-centered">
            <ul>
                <li class="{% if not paginator.has_prev %}disabled{% endif %}">
                    <a href="{% if paginator.has_prev %}{{ paginator.prev_page.url }}{% else %}javascript:void(0){% endif %}">Prev</a>
                </li>
                {% with pages=paginator.pages tpc=paginator.pages_count cpn=paginator.current_page.page_number %}
                    {% if cpn > 2 %}
                        <li class=""><a href="{{ paginator.get_first.url }}">{{ paginator.get_first.page_number|add:1 }}</a></li>
                        {% if cpn != 3 %}
                            <li class="disabled"><a href="">...</a></li>
                        {% endif %}
                    {% endif %}
                    {% for page in pages %}
                        {% with pn=page.page_number %}
                            {% if pn > cpn|add:-3 and pn < cpn|add:3 %}
                                <li class="{% if page.page_number == cpn %}active{% endif %}">
                                    <a href="{{ page.url }}">{{ page.page_number|add:1 }}</a>
                                </li>
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                    {% if cpn < tpc|add:-3 %}
                        {% if cpn != tpc|add:-4 %}
                        <li class="disabled"><a href="">...</a></li>
                        {% endif %}
                        <li class=""><a href="{{ paginator.get_last.url }}">{{ paginator.get_last.page_number|add:1 }}</a></li>
                    {% endif %}
                {% endwith %}
                <li class="{% if not paginator.has_next %}disabled{% endif %}">
                    <a href="{% if paginator.has_next %}{{ paginator.next_page.url }}{% else %}javascript:void(0){% endif %}">Next</a>
                </li>
            </ul>
        </div>
    </div>
{% endif %}
