<div class="pagination">
    <div class="pull-left pagination-results">Found {{ num_results }} results</div>
    <div class="pagination-centered">
        <ul>
            {% with prev=paginator.prev_button %}
            <li{% if not prev.is_active %} class="disabled"{% endif %}>
                <a href="{% if prev.is_active %}{{ prev.url }}{% else %}javascript:void(0){% endif %}">Prev<span class="hidden"> page</span></a>
            </li>
            {% endwith %}
            {% with buttons=paginator.buttons %}
                {% for button in buttons %}
                <li{% if not button.is_active %} class="disabled"{% else %}{% if button.is_current %} class="active"{% endif %}{% endif %}><a href="{% if button.is_active %}{{ button.url }}{% else %}javascript:void(0){% endif %}"><span class="hidden">page </span>{{ button.n }}</a></li>
                {% endfor %}
            {% endwith %}
            {% with next=paginator.next_button %}
            <li{% if not next.is_active %} class="disabled"{% endif %}>
                <a href="{% if next.is_active %}{{ next.url }}{% else %}javascript:void(0){% endif %}">Next<span class="hidden"> page</span></a>
            </li>
            {% endwith %}
        </ul>
    </div>
</div>