<form method="POST" action="." enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="alert alert-error">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    <label for="id_text">Enter one or more white-space or line separated sample barcodes; or analysis, aliquot, sample, or participant UUIDs:</label>
    {{ form.text }}
    <label for="id_upload">Or select file of identifiers:</label>
    {{ form.upload }}

    <div class="batch-submit">
        <button type="submit" class="btn">Search</button>
        <button type="reset" class="btn">Reset</button>
    </div>
</form>
