{% extends 'base.html' %}
{% load static from staticfiles %}
{% block description %}{{ block.super }}{% endblock %}
{% block title %}Batch search - {{ block.super }}{% endblock %}
{% block extra_header_css %}
    {% if debug %}
        <link rel="stylesheet/less" type="text/css" href="{% static 'css/core/batch_search.less' %}" media="all">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/core/batch_search.css' %}?v=10" media="all">
    {% endif %}
{% endblock %}
{% block accessibility_links %}
<ul title="Accessibility links" id="accessibility-links">
    <li>
        <a href="#nav-bar" tabindex="1">
            Skip to Navigation bar
        </a>
    </li>
    {% if found %}
    <li>
        <a href="#batch-search-summary" tabindex="2">
            Skip to results summary
        </a>
    </li>
    {% endif %}
    <li>
        {% if ids %}
        <a href="#id-check-all-checkbox" tabindex="3">
            Skip to results table
        </a>
        {% else %}
        <a href="#id_text" tabindex="3">
            Skip to batch form
        </a>
        {% endif %}
    </li>
</ul>
{% endblock %}

{% block main_content %}
<div class='batch-search-content'>

<div class="page-header">
<h1>Batch search</h1>
</div>

{% if ids %}
    {% include 'core/batch_search_result.html' %}
{% else %}
    {% include 'core/batch_search_form.html' %}
{% endif %}

</div>
{% endblock %}

{% block extra_body_js %}
    {% if debug %}
        <script type="text/javascript" src="{% static 'js/core/batch_search.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/table.js' %}"></script>
    {% else %}
        <script type="text/javascript" src="{% static 'js/core/batch_search.min.js' %}?v=11"></script>
    {% endif %}
{% endblock %}
