{% extends 'base.html' %}
{% block title %}Batch search - {{ block.super }}{% endblock %}
{% block extra_header_css %}
    {% if debug %}
        <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/core/batch_search.less" media="all">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/core/batch_search.css" media="all">
    {% endif %}
{% endblock %}
{% block accessibility_links %}
<ul title="Accessibility links" id="accessibility-links">
    <li>
        <a href="#nav-bar" tabindex="1">
            Skip to Navigation bar
        </a>
    </li>
    <li>
        <a href="#batch-form" tabindex="2">
            Skip to batch form
        </a>
    </li>
</ul>
{% endblock %}

{% block main_content %}
<div class='batch-search-content'>

<div class="page-header">
<h1>Batch search</h1>
</div>

<form method="POST" action="." enctype="multipart/form-data">
    <div class="batch-text">
        {{ form.text.errors }}
        <label for="id_text">Space separated ids:</label>
        {{ form.text }}
    </div>
    <div class="batch-file">
        {{ form.file.errors }}
        <label for="id_message">Or select file:</label>
        {{ form.file }}
    </div>
    <div class="batch-submit">
        <button type="submit" class="btn">Search and add to cart</button>
    </div>
</form>
{% if not_found %}
    <b>Files with these ids were not found:</b>
    <ul>
        {% for id in not_found %}
        <li>{{ id }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if found and not not_found%}
    <b>All {{ found|length }} files were found. Adding to cart is not implemented yet</b>
{% endif %}
</div>
{% endblock %}
