{% extends 'base.html' %}
{% load static from staticfiles %}
{% block description %}{{ block.super }}{% endblock %}
{% block extra_header_css %}
    {% if debug %}
        <link rel="stylesheet/less" type="text/css" href="{% static 'css/core/home.less' %}" media="all">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/core/home.css' %}?v=2" media="all">
    {% endif %}
{% endblock %}
{% block main_content %}
    <header class="jumbotron masthead">
        <div class="inner">
            <h1>Cancer Genomics Hub Browser</h1>

            <p>A sentence about CGHub.</p>

            <form class="form-search" action="{% url search_page %}">
                <input class="search-query input-large" type="text"
                       name="q">
            </form>
        </div>
        <div class="bs-links">
            <ul class="quick-links">
                <li><a href="{% url home_page %}">Home</a></li>
                <li><a href="{% url search_page %}">Search</a></li>
                <li><a href="{% url cart_page %}">Cart</a></li>
                <li><a href="{% url help_page %}">Help</a></li>
            </ul>
        </div>
    </header>
{% endblock %}
{% block extra_body_js %}
    {% if debug %}
        <script type="text/javascript" src="{% static 'js/core/home.js' %}"></script>
    {% else %}
        <script type="text/javascript" src="{% static 'js/core/home.min.js' %}"></script>
    {% endif %}
{% endblock %}
