{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}Details for {{ res.analysis_id }} - {{ block.super }}{% endblock %}
{% block extra_header_css %}
    {% if debug %}
        <link rel="stylesheet/less" type="text/css" href="{% static 'css/core/details.less' %}" media="all">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/core/details.css' %}" media="all">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/libs/xmldisplay/XMLDisplay.css' %}" media="all">
{% endblock %}

{% block extra_content %}
    <div class="details-content">
        <div class="page-header">
            <h1>Item details for Analysis Id {{ res.analysis_id.text }}</h1>
        </div>
        {% include "core/details_table.html" %}
    </div>
{% endblock %}

{% block extra_body_js %}
    {% if debug %}
        <script type="text/javascript" src="{% static 'js/details.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/libs/XMLDisplay.js' %}"></script>
    {% else %}
        <script type="text/javascript" src="{% static 'js/details.min.js' %}"></script>
    {% endif %}
    <script>LoadXMLString('XMLHolder', {{ raw_xml|safe }});</script>
{% endblock %}
