{% extends 'base.html' %}

{% block extra_header_css %}
    {% if debug %}
        <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/core/details.less" media="all">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/core/details.css" media="all">
    {% endif %}
{% endblock %}

{% block extra_content %}
    <div class="details-content">
        <div class="page-header">
            <h1>Item details for UUID={{ res.analysis_id }}</h1>
        </div>
        {% include "core/details_table.html" %}
    </div>
{% endblock %}
