{% extends 'base.html' %}
{% block extra_header_css %}
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/core/home.less" media="all">
{% endblock %}
{% block extra_sidebar %}
    {% include 'bam_filter_sidebar.html' %}
{% endblock %}
{% block extra_content %}
    <div class="page-header">
        <h1>
            Select BAM Files to change
            <small>You can add any BAM into your cart</small>
        </h1>
    </div>
    <span>Temporary note: You may drag lines between columns to show more/less content.</span>
    {% if message %}<div>{{ message }}</div>{% endif %}
    {% if num_results %}
    <div>Found {{num_results}} results</div>
    {% endif %}
    <form action="{% url cart_add_remove_files action='add' %}" method="POST" id="id_add_files_form">
        {% csrf_token %}
        <div class="btn-group home-btn-group">
            <button class="btn" type="submit">Add to cart</button>
        </div>
        {% include 'data_table.html' %}
        <div class="btn-group home-btn-group">
            <button class="btn" type="submit">Add to cart</button>
        </div>
    </form>
{% endblock %}
{% block extra_body_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/core/home.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/cart/cart.js"></script>
{% endblock %}
