{% extends 'base.html' %}
{% load search_tags %}
{% load pagination_tags %}
{% block extra_header_css %}
    {% if debug %}
        <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/core/search.less" media="all">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/core/search.css" media="all">
    {% endif %}
{% endblock %}
{% block extra_sidebar %}
    {% include 'bam_filter_sidebar.html' %}
{% endblock %}
{% block extra_content %}
    <div class="page-header">
        {% if num_results == None %}
            <h1>
                Search BAM Files
                <small>You can search BAM by different parameters</small>
            </h1>
        {% else %}
            <h1>
                Browse available data</br>
                <small>Select and add to cart to download data or meta-data</small>
            </h1>
        {% endif %}
    </div>
    {% if num_results %}
        <div>Found {{ num_results }} results</div>
        <div>{% applied_filters request %}</div>
    {% endif %}
    {% if num_results > 0 %}
        <form action="{% url cart_add_remove_files action='add' %}" method="POST" id="id_add_files_form">
            {% csrf_token %}
            <div class="btn-group search-btn-group">
                <button class="btn select_all_items">Select all</button>
                <button class="btn" type="submit">Add to cart</button>
            </div>
            {% include 'data_table.html' %}
            {% pagination %}
            <div class="btn-group search-btn-group">
                <button class="btn select_all_items">Select all</button>
                <button class="btn" type="submit">Add to cart</button>
            </div>
        </form>
    {% elif num_results == None %}
        <form class="search-form form-search" action="{% url search_page %}">
            <input class="search-query" type="text" name="q">
        </form>
    {% else %}
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
    {% endif %}
{% endblock %}
{% block extra_body_js %}
    {% if debug %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/core/search.js"></script>
    {% else %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/core/search.min.js"></script>
    {% endif %}
{% endblock %}
