{% extends 'base.html' %}
{% load search_tags %}
{% load pagination_tags %}
{% load static from staticfiles %}
{% block description %}{{ block.super }}{% endblock %}
{% block title %}Browser - {{ block.super }}{% endblock %}
{% block extra_header_css %}
    {% if debug %}
        <link rel="stylesheet/less" type="text/css" href="{% static 'css/core/search.less' %}" media="all">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/core/search.css' %}?v=13" media="all">
    {% endif %}
{% endblock %}
{% block accessibility_links %}
<ul title="Accessibility links" id="accessibility-links">
    <li>
        <a href="#nav-bar" tabindex="1">
            Skip to Navigation bar
        </a>
    </li>
    <li>
        <a href="#filters-bar" tabindex="2">
            Skip to Filters
        </a>
    </li>
    <li>
        <a href="#results-summary" tabindex="3">
            Skip to Summary of results
        </a>
    </li>
    <li>
        <a href="#data-table" tabindex="4">
            Skip to Main results
        </a>
    </li>
</ul>
{% endblock %}
{% block extra_sidebar %}
    {% include 'bam_filter_sidebar.html' %}
{% endblock %}
{% block extra_content %}
    <section class="page-header">
        {% if num_results == None %}
            <h1>
                Search BAM Files
                <small>You can search BAM by different parameters</small>
            </h1>
        {% else %}
            <h1>
                Browse available data<br/>
                <small>Select and add to cart to download data or metadata</small>
            </h1>
        {% endif %}
    </section>
    {% if num_results %}
        <section id="results-summary" aria-labelledby="results-summary" tabindex="52">
            <div>Found <span class="js-num-results">{{ num_results }}</span> results</div>
            <div class="applied-filters">{% applied_filters request %}</div>
        </section>
        {% if search_notification %}
            <div class="alert search-notification">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ search_notification|safe }}
            </div>
        {% endif %}
        <form action="{% url cart_add_remove_items action='add' %}" method="POST" id="id_add_files_form" data-many-files="{{ MANY_FILES }}">
            {% csrf_token %}
            <div class="btn-toolbar">
                <div class="search-btn-group">
                    <button class="btn add-to-cart-btn js-common-tooltip" type="submit" data-key="results-add-to-cart-button">Add to cart</button>
                    <button class="btn add-all-to-cart-btn js-common-tooltip" type="button" data-key="results-add-all-to-cart-button" >Add all to cart</button>
                </div>
            </div>
            {% items_per_page request 10 25 50 %}
            <div class="column-select-label">
                <label for="id-columns-selector" class="js-common-tooltip" data-key="columns-menu">
                    Columns:
                </label>
            </div>
            <select id="id-columns-selector" class="column-select" title="Select columns to display in results area" multiple>
                <option value="(Toggle all)">(Toggle all)</option>
            </select>
            {% include 'data_table.html' %}
            {% items_per_page request 10 25 50 %}
            {% pagination %}
            <div class="btn-toolbar">
                <div class="search-btn-group">
                    <button class="btn add-to-cart-btn js-common-tooltip" type="submit" data-key="results-add-to-cart-button">Add to cart</button>
                    <button class="btn add-all-to-cart-btn js-common-tooltip" type="button" data-key="results-add-all-to-cart-button">Add all to cart</button>
                </div>
            </div>
        </form>
    {% else %}
        <section id="results-summary" aria-labelledby="results-summary" tabindex="52">
            <div class="applied-filters">{% applied_filters request %}</div>
        </section>
        {% if message %}
            <h4>{{ message }}</h4>
        {% endif %}
    {% endif %}
{% endblock %}
{% block extra_body_js %}
    {% if debug %}
        <script type="text/javascript" src="{% static 'js/core/search.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/table.js' %}"></script>
    {% else %}
        <script type="text/javascript" src="{% static 'js/core/search.min.js' %}?v=20"></script>
    {% endif %}
{% endblock %}
