{% extends 'base.html' %}
{% load search_tags %}
{% load pagination_tags %}
{% block extra_header_css %}
    {% if debug %}
        <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/cart/cart.less" media="all">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/cart/cart.css" media="all">
    {% endif %}
{% endblock %}
{% block main_content %}
    <div class="cart-content">
        <div class="page-header">
            <h1>
                In your cart
            </h1>
        </div>
        <div><span>Files in your cart: {{ stats.count }} ({{ stats.size|file_size }})</span></div>

        <form action="{% url cart_page %}action/" method="POST">
            {% csrf_token %}
            {% if results %}
                <div class="btn-toolbar">
                    <div class="btn-group cart-btn-group">
                        <button class="btn cart-form-remove" type="submit">Remove from cart</button>
                        <button class="btn cart-form-download-manifest">Download Manifest</button>
                        <button class="btn cart-form-download-xml">Download metadata</button>
                    </div>
                </div>
                {% items_per_page request 10 25 50 %}
                <div class="column-select-label"><span>Columns:</span></div>
                <select class="column-select" multiple>
                  <option value="(all)">(all)</option>
                </select>
                {% include 'data_table.html' %}
                {% items_per_page request 10 25 50 %}
                {% pagination %}
                <div class="btn-toolbar">
                    <div class="btn-group cart-btn-group">
                        <button class="btn cart-form-remove" type="submit">Remove from cart</button>
                        <button class="btn cart-form-download-manifest">Download Manifest</button>
                        <button class="btn cart-form-download-xml">Download metadata</button>
                    </div>
                </div>
            {% else %}
                <p>Your cart is empty!</p>
            {% endif %}
        </form>
    </div>
{% endblock %}
{% block extra_body_js %}
    {% if debug %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/cart/cart.js"></script>
    {% else %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/cart/cart.min.js"></script>
    {% endif %}
{% endblock %}
