{% extends 'base.html' %}
{% block extra_header_css %}
    {% if debug %}
        <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/cart/cart.less" media="all">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/cart/cart.css" media="all">
    {% endif %}
{% endblock %}
{% block main_content %}
    <div class="cart-content">
        <div class="page-header">
            <h1>
                In your cart
                <small>You can manage contents of your cart</small>
            </h1>
        </div>
        <div><span>Files in your cart: {{ stats.count }} ({{ stats.size|floatformat:2 }} Mb)</span></div>

        <form action="{% url cart_page %}action/" method="POST">
            {% csrf_token %}
            {% if results %}
                <div class="btn-toolbar">
                    <div class="btn-group cart-btn-group">
                        <button class="btn select_all_items">Select all</button>
                    </div>
                    <div class="btn-group cart-btn-group">
                        <button class="btn cart-form-remove" type="submit">Remove from cart</button>
                        <button class="btn cart-form-download-manifest">Download Manifest</button>
                        <button class="btn cart-form-download-xml">Download XML</button>
                    </div>
                </div>
                {% include 'data_table.html' %}
                <div class="btn-toolbar">
                    <div class="btn-group cart-btn-group">
                        <button class="btn select_all_items">Select all</button>
                    </div>
                    <div class="btn-group cart-btn-group">
                        <button class="btn cart-form-remove" type="submit">Remove from cart</button>
                        <button class="btn cart-form-download-manifest">Download Manifest</button>
                        <button class="btn cart-form-download-xml">Download XML</button>
                    </div>
                </div>
            {% else %}
                <p>Your cart is empty!</p>
            {% endif %}
        </form>
    </div>
{% endblock %}
{% block extra_body_js %}
    {% if debug %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/cart/cart.js"></script>
    {% else %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/cart/cart.min.js"></script>
    {% endif %}
{% endblock %}
