{% extends 'base.html' %}
{% block extra_header_css %}
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/cart/cart.less" media="all">
{% endblock %}
{% block extra_sidebar %}
    {% include 'bam_filter_sidebar.html' %}
{% endblock %}
{% block extra_content %}
    <div class="page-header">
        <h1>
            In your cart
            <small>You can manage contents of your cart</small>
        </h1>
    </div>
    Temporary note: You may drag lines between columns to show more/less content.<br/><br/>
    {% include 'data_table.html' %}
{% endblock %}
{% block extra_body_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/cart/cart.js"></script>
{% endblock %}
