@import "../base.less";
@import "../bam-filter-sidebar.less";
@import "../dropdownchecklist.less";


.cart-btn-group {
    padding: 15px 20px 15px 0;
    display: inline-block;
    .btn-group .btn {
        float: none;
        margin: 0;
        &.dropdown-toggle {
            margin-left: -5px;
        }
    }
}

.cart-content{
    padding-left: 50px;
    .alert a {
        color: inherit;
        text-decoration: underline;
    }
}
