.base-container{padding-top:50px;width:100%;min-width:1280px;}
.base-sidebar{padding-left:10px;}
.base-content{width:78%;min-width:980px;}
.pagination-results{margin-top:12px;}
.sort-link{display:block;}
input#bam-filter-sidebar-search-field{width:181px;max-width:92%;border:1px solid #888;}
input#bam-filter-sidebar-search-field:focus{border:1px solid #ccc;}
div.cart-btn-group{padding:15px 0;}
.cart-content{padding-left:50px;}
