.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:28px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
#accessibility-links{position:fixed;margin:0;top:0;left:0;height:0;overflow:hidden;width:100%;text-align:center;z-index:1410;background-color:#fff;list-style-type:none;}#accessibility-links li{font-size:1.2em;padding-top:5px;margin-bottom:2px;}
#main-nav{tab-index:-1;}
.navbar .brand{padding-top:10px;padding-bottom:8px;}
.navbar ul a{font-size:14px;}
.base-container{padding-top:50px;width:100%;min-width:1280px;}
.base-sidebar{padding-left:10px;}.base-sidebar .dp-container{z-index:1310;position:absolute;top:0;left:235px;padding:9px 9px 19px 19px;}.base-sidebar .dp-container .dp-date{display:inline-block;margin:10px 10px 10px 0;vertical-align:top;}
.base-sidebar .dp-container .text-error{color:#ff0000;margin-left:10px;}
.base-sidebar .dp-container .btn-cancel{margin-left:10px;}
.base-sidebar .sidebar{padding-left:15px;visibility:hidden;}
.base-content{width:78%;min-width:980px;}
.pagination-results{margin-top:12px;}
.sort-link{display:block;}
.search-query{color:#333 !important;}
.flexigrid{width:100%;}.flexigrid div.bDiv{overflow-x:scroll !important;overflow-y:hidden !important;border-left:none !important;border-right:none !important;}.flexigrid div.bDiv tr.trSelected td{background-color:#d5effc;}
.flexigrid div.bDiv tr{cursor:pointer;}.flexigrid div.bDiv tr td:first-child{cursor:default;}
.flexigrid div.hDiv{border-left:none !important;border-right:none !important;}
.viewport{border-left:1px solid #CCCCCC;border-right:1px solid #CCCCCC;}
.tooltip{position:fixed;display:none;max-width:250px;background:#F8F8C1;visibility:visible;padding:5px;font-size:12px;opacity:1;color:#000;padding:5px 6px 4px 10px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;border:1px solid #996;z-index:1110;}
.dropdown-menu li>a:hover{color:#222;background-color:#eee;}
.modal .raw-xml-link{font-size:14px;padding:20px 0;}
.modal table{margin-top:15px;}
.navbar-fixed-top .navbar-inner .container-fluid{min-width:770px;}
input#bam-filter-sidebar-search-field{width:181px;max-width:92%;border:1px solid #888;}
input#bam-filter-sidebar-search-field:focus{border:1px solid #ccc;}
.ui-dropdownchecklist-selector{border:1px solid #CCC;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
span.ui-dropdownchecklist-text{padding-top:1px;}
.ui-dropdownchecklist-selector-wrapper{margin-bottom:5px;}
.ui-dropdownchecklist-item>input[type="checkbox"],.ui-dropdownchecklist-item>input[type="radio"]{float:left;margin-right:2px;margin-left:2px;}
.ui-dropdownchecklist-item{padding-top:3px;}
.ui-dropdownchecklist-dropcontainer{height:auto !important;}
.ui-dropdownchecklist-dropcontainer-wrapper{margin-top:-5px;}
.ui-state-hover,.ui-state-active{background-color:white;cursor:pointer;}
.ui-dropdownchecklist-close{text-align:center !important;}
.column-select{display:none;}
.column-select-label{float:left;height:25px;padding-top:3px;}
.column-select-label>label{margin-right:5px;}
.sidebar .filter-label{font-weight:bold;margin-bottom:0;font-size:12px;}
.items-per-page-label{float:left;height:25px;margin-right:25px;padding-top:3px;}
div.cart-btn-group{padding:15px 0;}
.cart-content{padding-left:50px;}.cart-content .alert a{color:inherit;text-decoration:underline;}
