@import "../base.less";

.batch-search-content {
    margin-left: 40px;
    h1 {
        line-height: 1;
    }
    form {
        padding-right: 10px;
        textarea {
            width: 100%;
        }
        .batch-submit {
            margin: 20px 0;
        }
    }
}
