.base-container{padding-top:50px;width:100%;min-width:1280px;}
.base-sidebar{padding-left:10px;}
.base-content{width:78%;min-width:980px;}
.pagination-results{margin-top:12px;}
.sort-link{display:block;}
.search-query{color:#333 !important;}
.flexigrid{width:100%;}
table.celery-task-status{margin-left:50px;width:96%;}
