.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:28px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
#accessibility-links{position:fixed;margin:0;top:0;left:0;height:0;overflow:hidden;width:100%;text-align:center;z-index:1410;background-color:#fff;list-style-type:none;-webkit-box-shadow:0 8px 6px -6px #888888;-moz-box-shadow:0 8px 6px -6px #888888;box-shadow:0 8px 6px -6px #888888;}#accessibility-links li{font-size:1.2em;padding-top:5px;margin-bottom:2px;}
.hidden{position:absolute;left:-10000px;top:auto;width:1px;height:1px;overflow:hidden;}
#main-nav{tab-index:-1;}
.navbar .brand{padding-top:10px;padding-bottom:8px;}
.navbar li a{font-size:14px;}
.navbar li.active a{font-weight:normal!important;}
.base-container{padding-top:50px;width:100%;min-width:1280px;}
.base-sidebar{padding-left:10px;}.base-sidebar .dp-container{z-index:1310;position:absolute;top:0;left:235px;padding:9px 9px 19px 19px;}.base-sidebar .dp-container .dp-date{display:inline-block;margin:10px 10px 10px 0;vertical-align:top;}
.base-sidebar .dp-container .text-error{color:#ff0000;margin-left:10px;}
.base-sidebar .dp-container .btn-cancel{margin-left:10px;}
.base-sidebar .sidebar{padding-left:15px;visibility:hidden;}
.base-content{width:78%;min-width:980px;}
.pagination-results{margin-top:12px;}
.sort-link{display:block;}
.search-query{color:#333 !important;}
.data-table{visibility:hidden;}
.flexigrid{width:100%;}.flexigrid div.hDivBox span.up-triangle{display:inline-block;height:16px;width:16px;background-image:url('../../img/triangle-up.png');vertical-align:middle;}
.flexigrid div.hDivBox span.down-triangle{display:inline-block;height:16px;width:16px;background-image:url('../../img/triangle-down.png');vertical-align:middle;}
.flexigrid div.bDiv{overflow-x:scroll !important;overflow-y:hidden !important;}.flexigrid div.bDiv tr.trSelected td{background-color:#d5effc;}
.flexigrid div.bDiv tr td.tdSelected{background-color:#ddddbb;}
.flexigrid div.bDiv tr{cursor:pointer;}.flexigrid div.bDiv tr td:first-child{cursor:default;}
.flexigrid div.hDiv th span{color:#049cdb;}
.tooltip{position:fixed;display:none;max-width:250px;background:#F8F8C1;visibility:visible;padding:5px;font-size:13px;opacity:1;color:#000;padding:5px 6px 4px 10px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;border:1px solid #996;z-index:1110;}
.dropdown-menu li>a:hover{color:#222;background-color:#eee;}
.modal table{margin-top:15px;}
.modal .btn{margin-right:5px;}
.navbar-fixed-top .navbar-inner .container-fluid{min-width:770px;}
div.btn-toolbar .btn{margin:0 6px 0 0;}
.messages{position:relative;top:50px;padding:10px 10px 0 10px;margin-rigth:10px;}
.modal.fade.in{box-shadow:0 0 4px 4px #888;}
