.base-container{padding-top:50px;width:100%;min-width:1280px;}
.base-sidebar{padding-left:10px;}
.base-content{width:78%;min-width:980px;}
.pagination-results{margin-top:12px;}
.sort-link{display:block;}
h1,h2{padding-bottom:0.5em;}
ul.help-sections{margin-top:1em;}
.help-content{padding-left:50px;padding-top:25px;}
