.base-container{padding-top:50px;width:100%;min-width:1280px;}
.base-sidebar{padding-left:10px;}
.base-content{width:78%;min-width:980px;}
.pagination-results{margin-top:12px;}
.sort-link{display:block;}
div.search-btn-group{padding:15px 0;}
form.search-form{margin:175px 0;text-align:center;}form.search-form input{font-size:20px;font-weight:normal;padding:14px 24px;margin-right:10px;width:30%;}
.filter-accordion-header{cursor:pointer;}
.filter-accordion-content{display:none;padding-left:15px;}
.filter-accordion-icon{float:left;}
.nav>li>a.select-all,.nav>li>a.clear-all{display:inline;}
