@import "../base.less";
@import "../data-table.less";
@import "../bam-filter-sidebar.less";

div.search-btn-group {
    padding: 15px 0;
}

form.search-form {
    margin: 175px 0;
    text-align: center;
    input {
        font-size: 20px;
        font-weight: normal;
        padding: 14px 24px;
        margin-right: 10px;
        width: 30%;
    }
}

.filter-accordion {
    
}
.filter-accordion-header {
    cursor: pointer;
}

.filter-accordion-content {
    display: none;
    padding-left: 15px;
}

.filter-accordion-icon {
    float: left;
}