@import "../base.less";
@import "../bam-filter-sidebar.less";


div.search-btn-group {
    padding: 15px 0;
}

form.search-form {
    margin: 175px 0;
    text-align: center;
    input {
        font-size: 20px;
        font-weight: normal;
        padding: 14px 24px;
        margin-right: 10px;
        width: 30%;
    }
}

.filter-accordion {
    
}

.filter-accordion-header {
    cursor: pointer;
}

.filter-accordion-content {
    display: none;
    padding-left: 15px;
}

.filter-accordion-icon {
    float: left;
}

.nav > li > a.select-all, .nav > li > a.clear-all {
  display: inline;
}

.sidebar-filters {
    display: none;
}

//*****************************
// Fixes for dropdownchecklist
.ui-dropdownchecklist-selector {
    border: 1px solid #CCC;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

span.ui-dropdownchecklist-text {
    padding-top: 1px;
}

.ui-dropdownchecklist-selector-wrapper {
    margin-bottom: 5px;
}

.ui-dropdownchecklist-item > input[type="checkbox"],
.ui-dropdownchecklist-item > input[type="radio"] {
    float: left;
    margin-right: 2px;
    margin-left: 2px;
}

.ui-dropdownchecklist-item {
    padding-top: 3px;
}

.ui-dropdownchecklist-dropcontainer {
    height: auto !important;
}

.ui-dropdownchecklist-dropcontainer-wrapper {
    margin-top: -5px;
}

.ui-state-hover, .ui-state-active {
    background-color: white;
    cursor: pointer;
}
//*****************************